.header {
	background-color: white;
	font-family: Tahoma, sans-serif;
	display: flex;
	align-items: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.logo a {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 40px;
	font-weight: bold;
}

.logo img {
	width: auto;
	height: 100px;
}

nav {
	display: flex;
	align-items: center;
	margin-right: 0;
	margin-left: auto;
	padding-right: 10px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
	font-weight: bold;
}

nav ul li a {
	text-decoration: none;
	color: black;
	margin-left: 60px;
	font-size: 20px;
}

nav ul li a:hover {
  color: #FF5C00;
}

body {
	margin: 0;
	padding: 0;
}

.dropdown{
	border: 1px solid #FF5C00;
	border-radius: 30px;
	height: 55px;
	width: 150px;
	display: flex;
	align-items: center;
	padding: 0;
	margin-left: 60px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 78px;
    margin-left: 17.5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin-left: 0;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.profilepic img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: 4px;
	border: 1px solid #FF5C00;
}

.dropdown span{
	margin-left: 10px;
}

.backbox{
	height: 40px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	margin-left: 12%;
}

.backbox a{
	display: flex;
	align-items: center;
	font-size: 30px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.backbox a img{
	width:40px;
	height: auto;
	padding-right: 5px;
}

.backbox p {
	color: #FF5C00;
	font-size: 20px;
	padding-top: 5px;
}

.backbox a:hover {
  color: #FF5C00;
}

.backbox a:hover img {
  filter: brightness(70%);
}

.backbox p:hover {
  color: #FF7F33;
}

.available{
	font-size: 20px;
	font-weight: bold;
	margin-left: 200px;
	margin-top: 30px;
	margin-bottom: 0;
}

.current{
	font-size: 20px;
	margin-left: 200px;
	margin-top: 0;
}

table{
	border: 1px solid #ccc;
	height: 200px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #f9f9f9;
	border-radius: 10px;
}

.passenger_pic{
	width: 300px;
}

.passenger_pic img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #FF5C00;
}

.ride_info{
	width:250px;
	font-size: 16px;
	text-align: left;
	line-height: 2;
}

.price{
	width: 50px;
	color: orange;
	font-weight: bold;
	border-right: 1px solid #ccc;
	text-align: left;
	padding-top: 170px;
}

.clock{
	width:170px;
	border-right: 1px solid #ccc;
	font-size: 30px;
	color: orange;
	font-weight: bold;
}

.join{
	width: 170px;
}

.join a{
	display: inline-block;
	background-color: #FF5C00;
	color: white;
	text-decoration: none;
	width: 100px;
	border-radius: 30px;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	cursor: pointer;
}

.join a:hover {
  background-color: #FF7F33;
}

.noride{
	color: lightgray;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
